
[submodule "skynet"]
	path = skynet
	url = https://github.com/cloudwu/skynet.git
[submodule "3rd/src-c/lua-openssl"]
	path = 3rd/src-c/lua-openssl
	url = https://github.com/zhaozg/lua-openssl.git
[submodule "3rd/src-c/lua-rand"]
	path = 3rd/src-c/lua-rand
	url = https://github.com/walking-with-linght/lua-rand.git
[submodule "3rd/src-c/lua-cjson"]
	path = 3rd/src-c/lua-cjson
	url = https://github.com/walking-with-linght/lua-cjson.git
[submodule "3rd/src-c/lua-tz"]
	path = 3rd/src-c/lua-tz
	url = https://github.com/walking-with-linght/lua-tz.git
[submodule "3rd/src-c/lua-crypt"]
	path = 3rd/src-c/lua-crypt
	url = https://gitee.com/jslonely/lua-crypt.git
[submodule "3rd/src-c/lua-protobuf"]
	path = 3rd/src-c/lua-protobuf
	url = https://github.com/starwing/lua-protobuf.git
[submodule "3rd/src-c/lua-lfs"]
	path = 3rd/src-c/lua-lfs
	url = https://github.com/lunarmodules/luafilesystem.git
[submodule "3rd/src-c/ua-consistent-hash"]
	path = 3rd/src-c/ua-consistent-hash
	url = https://github.com/walking-with-linght/lua-consistent-hash.git
[submodule "3rd/src-c/lua-consistent-hash"]
	path = 3rd/src-c/lua-consistent-hash
	url = https://github.com/walking-with-linght/lua-consistent-hash.git
[submodule "3rd/src-c/lua-gzip"]
	path = 3rd/src-c/lua-gzip
	url = https://github.com/findstr/lua-gzip.git
